###############################
# GLOBAL
###############################
.DS_Store
Thumbs.db
*.log
*.tmp
*.cache

###############################
# NODE / REACT (HungerHubFrontEnd)
###############################
# Node modules (ignore everywhere)
node_modules/
**/node_modules/

# Vite / React dist build
dist/
**/dist/
**/dist-ssr/
**/.vite/

# Env files
*.env
*.env.*

###############################
# JAVA / SPRING BOOT (hungerHub)
###############################
# Maven
target/
**/target/

# Gradle (if used)
build/
**/build/

# Ignore wrapper files except JAR
.mvn/
!.mvn/wrapper/maven-wrapper.jar

###############################
# IDE FILES (Global)
###############################
# IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode/
.vscode/*

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated
.factorypath

###############################
# OTHER
###############################
*.swp
*.swo
out/
