.container{
    width: 100%;
    height:fit-content;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.leftGroup{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

.leftGroup input{
    width: 300px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    font-size: 14px;
    text-wrap:wrap;
}

.leftGroup .image img{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
}

.leftGroup .appName h2{
    font-size: 40px;
    font-weight: 600;
}

.navigationLinks{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    padding: 10px;
}

.navigationLinks a{
    font-size: 16px;
    text-decoration: none;
    color: #111;
    font-weight: 500;
    margin-left: 6px;
}

.navigationLinks i{
    font-size: 16px;
    color: #2b1805;
    padding-right: 5px;
}

.navigationLinks .profile{
    text-transform: capitalize;
}


