main{
    width: 100%;
    padding: 20px 5%;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
}

.popularCuisines .title{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
}

.title button{
    font-size: 20px;
    padding-right: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.popularCuisines .name{
    font-size:28px;font-weight:700;color:rgb(62, 61, 61);}
.popularCuisines .message{
    font-size:20px;color:rgb(62, 61, 61);margin-left:6px}

.cuisines{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    overflow: scroll hidden;
    margin-top: 10px;
}

.cuisines::-webkit-scrollbar {
    display: none;
}

.cuisineCard{
    align-items: center;
    text-align: center;
}   

.cuisineCard img{
    width: 150px;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}

.cuisineCard a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.cuisineCard span{
    font-size: 15px;
    font-weight: 400;
}

.horizontalLine{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.line{
    border: none;
    height: 3px;
    background-color: #a09a9a;
}